services:
  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: counterparty-analyzer
  #   ports:
  #     - "5000:5000"
  #     - "8000:8000"
  #   environment:
  #     - BACKEND_PORT=8000
  #     - STREAMLIT_SERVER_PORT=5000
  #     - TARANTOOL_HOST=tarantool
  #     - TARANTOOL_PORT=3302
  #   env_file:
  #     - .env
  #   depends_on:
  #     - tarantool
  #   restart: unless-stopped
  #   networks:
  #     - app-network

  tarantool:
    image: tarantool/tarantool:2.11
    container_name: tarantool-cache
    ports:
      - "3302:3302"
    environment:
      - TARANTOOL_INIT_SCRIPT=/opt/tarantool/init.lua
    volumes:
      - ./app/storage/init.lua:/opt/app/storage/init.lua:ro
      - tarantool_data:/var/lib/tarantool
    command: ["tarantool", "opt/app/storage/init.lua"]
    restart: unless-stopped
    networks:
      - app-network

volumes:
  tarantool_data:

networks:
  app-network:
    driver: bridge
